{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "semi": "off",
    "quotes": ["error", "single"],
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "arrow-parens": ["error", "always"],
    "max-len": [
      2,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ],
    "object-curly-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"]
  }
}
