#octicon-icons {
  // Reference icon codes at
  // https://github.com/atom/atom/blob/master/static/variables/octicon-utf-codes.less
  .open-new-tab() {
    font-family: octicons;
    color: #AC4142;
    content: "\f07f";
  }
}
