.octotree-show {
  .octotree_github_only {
    display: none;
  }

  .octotree_github_sidebar {
    a.octotree_toggle {
      right: 12px;
      top: 12px;
      &:not(.octotree_loading) > span:after {
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/chevron-left.svg');
      }
      &:not(.octotree_loading):hover > span:after {
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/chevron-left-hover.svg');
      }
    }
  }

  body.split-diff .container {
    padding-left: 0;
  }
}

.octotree_github_sidebar {
  padding-top: 54px;
  background-color: #f7f7f7;
  border-right: none;

  .octotree_github_only {
    display: block;
  }

  .octotree_views {
    border-right: 1px solid #ddd;
    background-color: #fafbfc;

    .octotree_view {
      .octotree_view_header {
        font-weight: normal;
        color: #eee;
        text-shadow: none;
        height: 54px;
        line-height: 2.8;
        background: #24292e none;
      }

      .octotree_help {
        & > span:before {
          content: data-uri('image/svg+xml;charset=UTF-8', './octicons/question.svg');
        }
      }
    }

    .octotree_treeview {
      .octotree_header_repo {
        font-size: 13px;
        font-weight: normal;
        a {
          color: #eee;
          font-weight: normal;
        }
      }
      .octotree_header_repo:before {
        position: relative;
        top: 2px;
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/repo.svg');
      }
      .octotree_header_branch {
        font-size: 11px;
      }
      .octotree_header_branch:before {
        position: relative;
        top: 2px;
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/git-branch.svg');
      }
      .jstree-icon {
        margin-top: 3px;
      }
      .jstree-icon.tree:before {
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/file-directory.svg');
      }
      .jstree-icon.blob:before {
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/file-text.svg');
      }
      .jstree-node.jstree-leaf:hover {
        .jstree-icon.blob:before {
          content: data-uri('image/svg+xml;charset=UTF-8', './octicons/cloud-download.svg');
        }
      }
      .jstree-icon.commit:before {
        content: data-uri('image/svg+xml;charset=UTF-8', './octicons/file-submodule.svg');
      }
      .jstree-anchor {
        color: #4183c4 !important;
        & > span {
          color: black;
        }
      }
      .jstree-default {
        .jstree-wholerow-hovered {
          background: #eee;
        }
        .jstree-wholerow-clicked {
          background: #dbeeff;
        }
      }
    }
  }

  a.octotree_toggle, a.octotree_opts {
    color: black !important;

    &:hover, &.selected {
      color: #4183C4 !important;
    }
  }

  a.octotree_opts {
    top: 19px;
    right: 48px;
    width: 16px;
    height: 16px;
    background: data-uri('image/svg+xml;charset=UTF-8', 'octicons/light-gear.svg');
    &:hover {
      background: data-uri('image/svg+xml;charset=UTF-8', './octicons/light-gear-hover.svg');
    }
  }

  a.octotree_toggle {
    top: 12px;
    right: -35px;

    &:not(.octotree_loading) > span:after {
      content: data-uri('image/svg+xml;charset=UTF-8', './octicons/chevron-right.svg');
    }
    &:not(.octotree_loading):hover > span:after {
      content: data-uri('image/svg+xml;charset=UTF-8', './octicons/chevron-right-hover.svg');
    }
  }
}
