<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Author</key>
		<string>Buu Nguyen</string>
		<key>Builder Version</key>
		<string>9537.75.14</string>
		<key>CFBundleDisplayName</key>
		<string>octotree</string>
		<key>CFBundleIdentifier</key>
		<string>com.buunguyen.octotree</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleShortVersionString</key>
		<string>$VERSION</string>
		<key>CFBundleVersion</key>
		<string>$VERSION</string>
		<key>Chrome</key>
		<dict/>
		<key>Content</key>
		<dict>
			<key>Scripts</key>
			<dict>
				<key>Start</key>
				<array>
					<string>jquery.js</string>
					<string>jquery-ui.js</string>
					<string>jstree.js</string>
					<string>keymaster.js</string>
					<string>ondemand.js</string>
					<string>file-icons.js</string>
					<string>octotree.js</string>
				</array>
			</dict>
			<key>Stylesheets</key>
			<array>
				<string>jstree.css</string>
				<string>file-icons.css</string>
				<string>octotree.css</string>
			</array>
			<key>Whitelist</key>
			<array>
				<string>https://bitbucket.org/*</string>
				<string>https://github.com/*</string>
			</array>
		</dict>
		<key>Description</key>
		<string>Code tree for GitHub</string>
		<key>ExtensionInfoDictionaryVersion</key>
		<string>1.0</string>
		<key>Permissions</key>
		<dict>
			<key>Website Access</key>
			<dict>
				<key>Allowed Domains</key>
				<array>
					<string>bitbucket.org</string>
					<string>github.com</string>
				</array>
				<key>Include Secure Pages</key>
				<true/>
				<key>Level</key>
				<string>Some</string>
			</dict>
		</dict>
		<key>Website</key>
		<string>https://github.com/buunguyen/octotree</string>
	</dict>
</plist>
