* {
  box-sizing: border-box;
}

.octotree_sidebar {
  position: fixed !important;
  padding-top: 49px;
  overflow: visible;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  z-index: 91;
  transition: transform .2s ease;
  transform: translate3d(-100%, 0, 0);

  .ui-resizable-e {
    position: absolute;
    cursor: col-resize;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@import "octotree_github";
@import "octotree_gitlab";
