/* Page */
html {
    transition: margin-left .2s ease;
    -webkit-transition: margin-left .2s ease;
}

/* Sidebar */
.octotree_sidebar {
    position: fixed;
    padding-top: 41px;
    top: 0;
    right: auto;
    bottom: 0;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    overflow: auto;
    z-index: 999991;
    -webkit-transition: left .2s ease;
    transition: left .2s ease;
}

.octotree_sidebar .ui-resizable-e {
    position: absolute;
    cursor: col-resize; 
    width: 5px; 
    right: 0; 
    top: 0; 
    bottom: 0;
}

.octotree_header {
    height: 46px;
    font-size: 16px;
    line-height: 2.7;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    margin: -5px 0 0;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 13px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.octotree_header_error {
    margin-left: -8px;
    margin-top: 6px;
    color: #900;
}

.octotree_header_repo {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.octotree_header_repo:before {
    font-family: octicons;
    content: '\f001';
    color: #bbb;
    margin-right: 6px;
    line-height: 28px;
}

.octotree_header_branch {
    line-height: 1;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: -6px;
    font-size: 11px;
}
.octotree_header_branch:before {
    font-family: octicons;
    content: '\f020';
    color: #bbb;
    margin-right: 8px;
    margin-left: 3px;
}

/* Source tree */
.octotree_treeview{
    height: 100%;
    overflow: auto;
}

.octotree_treeview .jstree-icon.tree,
.octotree_treeview .jstree-icon.blob,
.octotree_treeview .jstree-icon.commit {
    font: normal normal 16px octicons;
    display: inline-block;
    margin-top: 4px;
    margin-right: 5px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.octotree_treeview .jstree-icon.tree:before {
    content: '\f016';
    color: #80a6cd;
}
.octotree_treeview .jstree-icon.blob:before {
    content: '\f011';
    color: #777;
}
.octotree_treeview .jstree-icon.commit:before {
    content: '\f017';
    color: #777;
}

.octotree_treeview .jstree-anchor {
    color: #4183c4 !important;
    text-decoration: none;
    outline: none;
}
.octotree_treeview .jstree-anchor:hover {
    text-decoration: none !important; /* Safari needs this */
}

.octotree_treeview .jstree-default .jstree-wholerow {
    height: auto;
}
.octotree_treeview .jstree-default .jstree-wholerow-hovered {
    background: #eee;
}
.octotree_treeview .jstree-default .jstree-wholerow-clicked {
    background: #dbeeff;
}

.octotree_treeview .jstree-default .jstree-node {
    line-height: 24px;
    margin-left: 12px;
}
.octotree_treeview .jstree-default .jstree-icon,
.octotree_treeview .jstree-default .jstree-icon:empty,
.octotree_treeview .jstree-default .jstree-anchor {
    line-height: 28px;
}

.octotree_treeview .jstree-default .jstree-icon.jstree-ocl {
    margin-top: 1px;
    margin-right: -4px;
}

/* Options form */
.octotree_options div { 
    margin: 6px; 
}
.octotree_options input { 
    width: 237px; 
}
.octotree_options .error { 
    color: #900; 
}
.octotree_options button { 
    margin-right: 5px; 
}

/* Toggle button */
.octotree_toggle {
    position: fixed !important;
    top: 5px;
    right: auto;
    bottom: auto;
    left: 5px;
    width: 30px;
    height: 30px;
    padding: 6px 10px !important;
    color: black;
    text-align: center;
    line-height: 1;
    z-index: 999992;
    transition: left .3s ease, color 0.1s ease-in;
    -webkit-transition: left .3s ease, color 0.1s ease-in;
}
.octotree_toggle:hover {
    color: #4183C4;
}

.octotree_toggle > span {
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.octotree_toggle > span:after {
    content: '\f078';
}

.octotree .octotree_toggle > span:after {
    content: '\f0a4';
}