/* Page */
html {
    transition: margin-left .2s ease;
    -webkit-transition: margin-left .2s ease;
}

/* Sidebar */
.octotree_sidebar {
    position: fixed;
    padding-top: 41px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    overflow: auto;
    z-index: 999991;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);

}
.octotree .octotree_sidebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.octotree_sidebar .ui-resizable-e {
    position: absolute;
    cursor: col-resize; 
    width: 5px; 
    right: 0; 
    top: 0; 
    bottom: 0;
}

.octotree_header {
    height: 46px;
    font-size: 16px;
    line-height: 2.7;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    margin: -5px 0 0;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 13px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.octotree_header_error {
    margin-left: -8px;
    margin-top: 6px;
    color: #900;
}

.octotree_header_repo {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.octotree_header_repo:before {
    font-family: octicons;
    content: '\f001';
    color: #bbb;
    margin-right: 6px;
    line-height: 28px;
}

.octotree_header_branch {
    line-height: 1;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: -6px;
    font-size: 11px;
}
.octotree_header_branch:before {
    font-family: octicons;
    content: '\f020';
    color: #bbb;
    margin-right: 8px;
    margin-left: 3px;
}

/* Source tree */
.octotree_treeview{
    height: 100%;
    overflow: auto;
}

.octotree_treeview .jstree-icon.tree,
.octotree_treeview .jstree-icon.blob,
.octotree_treeview .jstree-icon.commit {
    font: normal normal 16px octicons;
    display: inline-block;
    margin-top: 4px;
    margin-right: 5px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.octotree_treeview .jstree-icon.tree:before {
    content: '\f016';
    color: #80a6cd;
}
.octotree_treeview .jstree-icon.blob:before {
    content: '\f011';
    color: #777;
}
.octotree_treeview .jstree-icon.commit:before {
    content: '\f017';
    color: #777;
}

.octotree_treeview .jstree-anchor {
    color: #4183c4 !important;
    text-decoration: none;
    outline: none;
}
.octotree_treeview .jstree-anchor:hover {
    text-decoration: none !important; /* Safari needs this */
}
.octotree_treeview .jstree-anchor > span {
    color: black;
}

.octotree_treeview .jstree-default .jstree-wholerow {
    height: auto;
}
.octotree_treeview .jstree-default .jstree-wholerow-hovered {
    background: #eee;
}
.octotree_treeview .jstree-default .jstree-wholerow-clicked {
    background: #dbeeff;
}

.octotree_treeview .jstree-default .jstree-node {
    line-height: 24px;
    margin-left: 12px;
}
.octotree_treeview .jstree-default .jstree-icon,
.octotree_treeview .jstree-default .jstree-icon:empty,
.octotree_treeview .jstree-default .jstree-anchor {
    line-height: 28px;
}

.octotree_treeview .jstree-default .jstree-icon.jstree-ocl {
    margin-top: 1px;
    margin-right: -4px;
}

/* Options form */
.octotree_options div { 
    margin: 6px; 
}
.octotree_options input { 
    width: 100%;
    max-width: 350px;
}
.octotree_options .error { 
    color: #900; 
}
.octotree_options .button { 
    margin-right: 5px;
}

/* Toggle button */
a.octotree_toggle {
    position: fixed !important;
    top: 5px;
    right: auto;
    bottom: auto;
    left: 5px;
    width: 30px;
    height: 30px;
    padding: 6px 6px !important;
    color: black;
    text-align: center;
    line-height: 1;
    z-index: 999992;
    transition: left .3s ease, color 0.1s ease-in;
    -webkit-transition: left .3s ease, color 0.1s ease-in;
}
a.octotree_toggle:hover {
    color: #4183C4;
}

a.octotree_toggle > span {
    margin-top: 1px;
    font: normal normal 16px octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}

a.octotree_toggle > span:after {
    content: '\f078';
}

.octotree a.octotree_toggle > span:after {
    content: '\f0a4';
}

a.octotree_toggle.loading > span:after {
    content: '';
}

a.octotree_toggle.loading .loader { 
    border-radius: 50%;
    border: 3px solid #000;
    border-top: 3px solid rgba(0,0,0,0);
    border-left: 3px solid rgba(0,0,0,0);
    width: 16px;
    height: 16px;
    animation: loading .5s infinite linear;
    -webkit-animation: loading .5s infinite linear;
}
@keyframes loading {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes loading {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

/* Popup (customize from Twitter Bootstrap) */
.octotree_popup {
    position: fixed;
    cursor: pointer;
    display: none;
    opacity: 0;
    top: 40px;
    left: 5px;
    z-index: 999993;
    width: 260px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.25);
    white-space: normal;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.octotree_popup.show {
    opacity: 1;
}

.octotree_popup > .arrow,
.octotree_popup > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.octotree_popup > .arrow {
    left: 15px;
    top: -6px;
    border-width: 6px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, .25);
}
.octotree_popup > .arrow:after {
    border-width: 5px;
    content: '';
    top: 1px;
    margin-left: -5px;
    border-top-width: 0;
    border-bottom-color: #fff;
}

.octotree_popup > .content {
    padding: 9px 14px;
    font-size: 13px;
}